/* Caveat Font Family */
@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('./caveat-400.ttf') format('truetype');
}

@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url('./caveat-500.ttf') format('truetype');
}

@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url('./caveat-600.ttf') format('truetype');
}

@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('./caveat-700.ttf') format('truetype');
}

/* Roboto Condensed Font Family */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url('./roboto-condensed-300.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('./roboto-condensed-400.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('./roboto-condensed-700.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  font-display: block;
  src: url('./roboto-condensed-300-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  font-display: block;
  src: url('./roboto-condensed-400-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-display: block;
  src: url('./roboto-condensed-700-italic.ttf') format('truetype');
}
